@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = "~/Pages/_Layout.cshtml";

    Index.DemoData();

    if (IsPost)
    {
        Index.Forms = Request.Form;
        Index.Run();

        //POST-reload page fix
        @Html.Raw("<script>document.location='Index.cshtml'</script>");
    }

    var currentUser = Index.CurrentUser;
    var currentRoleId = Index.CurrentUser.IdRole;
    var currentRoleName = string.Empty;

    if (currentRoleId == 0)
    {
        currentRoleName = currentUser.Name;
    }
    else
    {
        currentRoleName = Dependencies.RoleLogic.GetById(currentRoleId).Name;
    }

    <b id="messagebox">@Index.Message</b>
    <p class="currentUserName">Имя пользователя: @currentUser.Name</p>
    <p class="currentUserRole">Роль: @currentRoleName</p>

    if (Index.CurrentUser == Entities.User.Guest)
    {
        @RenderPage("~/Pages/Authentication.cshtml");
    }
    else
    {
        @RenderPage("~/Pages/CurrentUser.cshtml");

        if (Dependencies.ManagerLogic.IsManager(Index.CurrentUser.Id))
        {
            @RenderPage("~/Pages/NewOrders.cshtml");
        }
    }

    @RenderPage("~/Pages/Products.cshtml");
}