@using WebPL.Models;
@using Entities;
@using Common;

<script>
    $(document).ready(function () {
        $('#feedback').ajaxForm(function () {
            var feedback_message = document.getElementById("feedback").getElementsByClassName("feedback_message")[0];
            feedback_message.innerHTML = "Спасибо, Ваше мнение очень важно для нас!";
            feedback.getElementsByClassName("feedback_name")[0].value = "";
            feedback.getElementsByClassName("feedback_comment")[0].value = "";
        });
    });
</script>

@{
    Dependencies.LoggerLogic.StartLogger();

    Layout = "~/Pages/_Layout.cshtml";

    try
    {
        Index.DemoData();
    }
    catch
    {
        Response.Redirect("~/Pages/Error.cshtml");
    }

    if (IsPost)
    {
        Index.Forms = Request.Form;

        try
        {
            Index.RunPost();
        }
        catch
        {
            Response.Redirect("~/Pages/Error.cshtml");
        }

        //POST-reload page fix
        @Html.Raw("<script>document.location='Index.cshtml'</script>");
    }
        
    if (IsAjax)
    {
        Index.Forms = Request.Form;

        try
        {
            Index.RunAjax();
        }
        catch
        {
            Response.Redirect("~/Pages/Error.cshtml");
        }
    }

    var currentUser = Index.CurrentUser;
    var currentRoleId = Index.CurrentUser.IdRole;
    var currentRole = new Role();
    var currentRoleName = string.Empty;

    if (currentRoleId == 0)
    {
        currentRoleName = currentUser.Name;
    }
    else
    {
        currentRole = Dependencies.RoleLogic.GetById(currentRoleId);
        currentRoleName = currentRole.Name;
    }

    <b>@Index.Message</b>
    <p class="currentUserName">Имя пользователя: @currentUser.Name</p>
    <p class="currentUserRole">Роль: @currentRoleName</p>

    if (Index.CurrentUser == Entities.User.Guest)
    {
        @RenderPage("~/Pages/Authentication.cshtml");
    }
    else
    {
        @RenderPage("~/Pages/CurrentUser.cshtml");

        if (currentRole.OrderRead)
        {
            @RenderPage("~/Pages/NewOrders.cshtml");
        }
    }

    @RenderPage("~/Pages/Products.cshtml");

    if (currentRole.UserRead)
    {
        @RenderPage("~/Pages/Users.cshtml");
    }

    if (currentRole.RoleRead)
    {
        @RenderPage("~/Pages/Roles.cshtml");
    }

    if (currentRole.ManagerRead)
    {
        @RenderPage("~/Pages/Managers.cshtml");
    }

    if (currentRole.ManagerWrite)
    {
        @RenderPage("~/Pages/AddManager.cshtml");
    }

    if (currentRole.OrderWrite)
    {
        @RenderPage("~/Pages/Feedback.cshtml");
    }
}