@using WebPL.Models;
@using Entities;
@using Common;

<script>
    $(document).ready(function () {
        $('#feedback').ajaxForm(function () {
            var feedback = document.getElementById("feedback");
            var feedback_name = feedback.getElementsByClassName("feedback_name")[0];
            var feedback_text = feedback.getElementsByClassName("feedback_text")[0];

            var feedback_table = document.getElementById("feedback_table");
            var table_row = document.createElement("div");
            table_row.className = "tableRow";

            var table_cell_date = document.createElement("div");
            table_cell_date.className = "tableCell";
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            table_cell_date.innerHTML = dd + '.' + mm + '.' + yyyy;

            var table_cell_name = document.createElement("div");
            table_cell_name.className = "tableCell";
            table_cell_name.innerHTML = feedback_name.value;

            var table_cell_text = document.createElement("div");
            table_cell_text.className = "tableCell";
            table_cell_text.innerHTML = feedback_text.value;

            table_row.appendChild(table_cell_date);
            table_row.appendChild(table_cell_name);
            table_row.appendChild(table_cell_text);
            
            feedback_table.appendChild(table_row);

            var feedback_message = feedback.getElementsByClassName("feedback_message")[0];
            feedback_message.innerHTML = "Спасибо, Ваше мнение очень важно для нас!";

            feedback_name.value = "";
            feedback_text.value = "";
        });
    });
</script>

@{
    Dependencies.LoggerLogic.StartLogger();

    Layout = "~/Pages/_Layout.cshtml";

    try
    {
        Index.DemoData();
    }
    catch
    {
        Response.Redirect("~/Pages/Error.cshtml");
    }

    if (IsPost)
    {
        Index.Forms = Request.Form;

        try
        {
            Index.RunPost();
        }
        catch
        {
            Response.Redirect("~/Pages/Error.cshtml");
        }

        //POST-reload page fix
        @Html.Raw("<script>document.location='Index.cshtml'</script>");
    }
        
    if (IsAjax)
    {
        Index.Forms = Request.Form;

        try
        {
            Index.RunAjax();
        }
        catch
        {
            Response.Redirect("~/Pages/Error.cshtml");
        }
    }

    var currentUser = Index.CurrentUser;
    var currentRoleId = Index.CurrentUser.IdRole;
    var currentRole = new Role();
    var currentRoleName = string.Empty;

    if (currentRoleId == 0)
    {
        currentRoleName = currentUser.Name;
    }
    else
    {
        currentRole = Dependencies.RoleLogic.GetById(currentRoleId);
        currentRoleName = currentRole.Name;
    }

    <b>@Index.Message</b>
    <p class="currentUserName">Имя пользователя: @currentUser.Name</p>
    <p class="currentUserRole">Роль: @currentRoleName</p>

    if (Index.CurrentUser == Entities.User.Guest)
    {
        @RenderPage("~/Pages/Authentication.cshtml");
    }
    else
    {
        @RenderPage("~/Pages/CurrentUser.cshtml");

        if (currentRole.OrderRead)
        {
            @RenderPage("~/Pages/NewOrders.cshtml");
        }
    }

    @RenderPage("~/Pages/Products.cshtml");

    if (currentRole.UserRead)
    {
        @RenderPage("~/Pages/Users.cshtml");
    }

    if (currentRole.RoleRead)
    {
        @RenderPage("~/Pages/Roles.cshtml");
    }

    if (currentRole.ManagerRead)
    {
        @RenderPage("~/Pages/Managers.cshtml");
    }

    if (currentRole.ManagerWrite)
    {
        @RenderPage("~/Pages/AddManager.cshtml");
    }

    if (currentRole.OrderWrite)
    {
        @RenderPage("~/Pages/Feedback.cshtml");
    }
}