@{
    var message = string.Empty;
    var userName = string.Empty;
    var dateOfBirth = string.Empty;
    var userGuid = string.Empty;
    var awardGuid = string.Empty;
    var awardTitle = string.Empty;
    var userGuidJoin = string.Empty;
    var awardGuidJoin = string.Empty;

    if (IsPost)
    {
        UserCreation();
        UserDelete();
        AwardCreation();
        AwardDelete();
        JoinAwardToUser();

        //POST-reload page fix
        @Html.Raw("<script>document.location='https://localhost:44337/index.cshtml'</script>");
    }

    void UserCreation()
    {
        userName = Request["userName"];
        dateOfBirth = Request["dateOfBirth"];

        if (userName != null & dateOfBirth != null)
        {
            CreateUser();
        }
    }

    void UserDelete()
    {
        userGuid = Request["userGuid"];

        if (userGuid != null)
        {
            DeleteUser();
        }
    }

    void AwardCreation()
    {
        awardTitle = Request["awardTitle"];

        if (awardTitle != null)
        {
            CreateAward();
        }
    }

    void AwardDelete()
    {
        awardGuid = Request["awardGuid"];

        if (awardGuid != null)
        {
            DeleteAward();
        }
    }

    void CreateUser()
    {
        var userBll = new DependencyResolver()?.UserBll;
        var user = userBll?.CreateUser(userName, DateTime.Parse(dateOfBirth));
        var userAdded = userBll.UserAdded(user);

        if (userAdded)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }

    void DeleteUser()
    {
        var userBll = new DependencyResolver()?.UserBll;
        var userRemoved = userBll.UserRemoved(Guid.Parse(userGuid));

        if (userRemoved)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }

    void CreateAward()
    {
        var awardBll = new DependencyResolver()?.AwardBll;
        var award = awardBll?.CreateAward(awardTitle);
        var awardAdded = awardBll.AwardAdded(award);

        if (awardAdded)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }

    void DeleteAward()
    {
        var awardBll = new DependencyResolver()?.AwardBll;
        var awardRemoved = awardBll.AwardRemoved(Guid.Parse(awardGuid));

        if (awardRemoved)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }

    void JoinAwardToUser()
    {
        userGuidJoin = Request["userGuidJoin"];
        awardGuidJoin = Request["awardGuidJoin"];

        if (userGuidJoin != null & awardGuidJoin != null)
        {
            Join();
        }
    }

    void Join()
    {
        var userAwardBll = new DependencyResolver()?.UserAwardBll;
        var joined = userAwardBll.JoinedAwardToUser(Guid.Parse(userGuidJoin), Guid.Parse(awardGuidJoin));

        if (joined)
        {
            message = "Done";
        }
        else
        {
            message = "Failure";
        }
    }
}

@using Common;
@using System;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>UserAwards</title>
</head>
<body>
    @message
    <div id="main" class="main">
        <div class="block">
            <div class="caption">
                Users operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="user_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="user_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="user_print" value="print" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Awards operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="award_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="award_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="award_print" value="print" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Join operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="join_button" value="join award to user" />
                </div>
            </div>
        </div>
    </div>
    <div class="operations">
        <form method="post" action="" class="user_creation" style="display: none">
            <h4>User creation</h4>
            <p class="alertbox"></p>
            <p>Name: <input type="text" id="userName" class="name" name="userName" value=@userName></p>
            <p>Date of birth: <input type="date" id="dateOfBirth" class="dateOfBirth" name="dateOfBirth" value=@dateOfBirth></p>
            <input type="submit" class="user_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="award_creation" style="display: none">
            <h4>Award creation</h4>
            <p class="alertbox"></p>
            <p>Title: <input type="text" id="awardTitle" class="title" name="awardTitle" value=@awardTitle></p>
            <input type="submit" class="award_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="user_del" style="display: none;">
            <h4>Choose user to delete:</h4>
            <p>
                <select class="user_chosen">
                    @{
                        var users = new DependencyResolver()?.UserBll?.GetAll();

                        foreach (var user in users)
                        {<option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>}
                    }
                </select>
                <select class="user_chosen_guid" style="display: none;">
                    @{
                        foreach (var user in users)
                        {<option selected>@user.UserGuid.ToString()</option>}
                    }
                </select>
            </p>
            <input type="text" class="user_guid" style="display: none;" name="userGuid" value=@userGuid>
            <input type="submit" class="user_delete" value="Delete" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="award_del" style="display: none;">
            <h4>Choose award to delete:</h4>
            <p>
                <select class="award_chosen">
                    @{
                        var awards = new DependencyResolver()?.AwardBll?.GetAll();

                        foreach (var award in awards)
                        {<option selected>@award.Title</option>}
                    }
                </select>
                <select class="award_chosen_guid" style="display: none;">
                    @{
                        foreach (var award in awards)
                        {<option selected>@award.AwardGuid.ToString()</option>}
                    }
                </select>
            </p>
            <input type="text" class="award_guid" style="display: none;" name="awardGuid" value=@awardGuid>
            <input type="submit" class="award_delete" value="Delete" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <div class="listusers" style="display: none;">
            @{
                users = new DependencyResolver()?.UserBll?.GetAll();
                IEnumerable<Entities.Award> awardsByUser;

                foreach (var user in users)
                {
                    <p>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</p>
                    awardsByUser = new DependencyResolver()?.UserAwardBll?.GetAwardsByUser(user);
                    foreach (var awardByUser in awardsByUser)
                        {<p>@("--- " + awardByUser.Title)</p>}    
                }
            }
            <input type="button" class="cancel" value="Back" />
        </div>
        <div class="listawards" style="display: none;">
            @{
                awards = new DependencyResolver()?.AwardBll?.GetAll();

                foreach (var award in awards)
                    {<p>@award.Title</p>}
            }
            <input type="button" class="cancel" value="Back" />
        </div>
        <form method="post" action="" class="join" style="display: none; padding-left: 25px;">
            <h3>Join</h3>
            <div>
                <h4>Choose user:</h4>
                <p>
                    <select class="user_chosen_join">
                        @{
                            users = new DependencyResolver()?.UserBll?.GetAll();

                            foreach (var user in users)
                                {<option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>}
                        }
                    </select>
                    <select class="user_chosen_join_guid" style="display: none;">
                        @{
                            foreach (var user in users)
                                {<option selected>@user.UserGuid.ToString()</option>}
                        }
                    </select>
                </p>
                <input type="text" class="user_guid_join" style="display: none;" name="userGuidJoin" value=@userGuidJoin>
            </div>
            <div>
                <h4>Choose award:</h4>
                <p>
                    <select class="award_chosen_join">
                        @{
                            awards = new DependencyResolver()?.AwardBll?.GetAll();

                            foreach (var award in awards)
                                {<option selected>@award.Title</option>}
                        }
                    </select>
                    <select class="award_chosen_join_guid" style="display: none;">
                        @{
                            foreach (var award in awards)
                                {<option selected>@award.AwardGuid.ToString()</option>}
                        }
                    </select>
                </p>
                <input type="text" class="award_guid_join" style="display: none;" name="awardGuidJoin" value=@awardGuidJoin>
            </div>
            <div>
                <input type="submit" class="join_user_award" value="Join" />
                <input type="button" class="cancel" value="Cancel" />
            </div>
        </form>
    </div>
</body>
</html>