@using Common;
@using WEB_UI;
@{
    var guest    = Role.Create("Guest");
    var roleUser = Role.Create("User");
    var admin    = Role.Create("Admin");

    var currentUser = Webuser.Current;
    var root = Server.MapPath("~");

    var message = string.Empty;
    var htmlRaw = string.Empty;

    var userImages  = HttpContext.Current.Request.Files;
    var awardImages = HttpContext.Current.Request.Files;

    if (IsPost)
    {
        UserCreation();
        UserAwardsDelete();
        AwardCreation();
        AwardUsersDelete();
        JoinAwardToUser();
        EditUsers();
        EditAwards();
        SaveUserImage();
        SaveAwardImage();
        Account();

        //POST-reload page fix
        @Html.Raw("<script>document.location='https://localhost:44337/index.cshtml'</script>");
    }

    void Account()
    {
        TryLogIn();
        TryLogOut();
        TryRegister();
    }

    void TryRegister()
    {
        var regName = Request.Form["regName"];
        var regPass = Request.Form["regPass"];
        var roleName = Request.Form["roleName"];

        if (regName != null & regPass != null & roleName != null)
        {
            if (TryUserRegister(regName, regPass, roleName))
            {
                LogIn(regName, regPass);
            }
            else
            {
                Webuser.LogOut();
            }
        }
    }

    void TryLogOut()
    {
        var loggedOut = Request.Form["loggedOut"];

        if (loggedOut != null & loggedOut == "loggedOut")
        {
            Webuser.LogOut();
        }
    }

    void TryLogIn()
    {
        var logName = Request.Form["logName"];
        var logPass = Request.Form["logPass"];

        if (logName != null & logPass != null)
        {
            if (!Webuser.NameExists(logName))
            {
                Response.Write("<script>alert('User name is not exists!');</script>");

            }
            else if (!Webuser.PasswordIsOk(logName, logPass))
            {
                Response.Write("<script>alert('Wrong password!');</script>");
            }
            else
            {
                LogIn(logName, logPass);
            }
        }
    }

    void LogIn(string logName, string logPass) => Webuser.LogIn(logName, logPass);

    bool TryUserRegister(string regName, string regPass, string roleName)
    {
        if (regName == string.Empty || regPass == string.Empty || roleName == string.Empty)
        {
            return false;
        }

        if (Webuser.NameExists(regName))
        {
            message = "User name already exists";

            Response.Write("<script>alert('User name already exists!');</script>");

            return false;
        }

        var user = Webuser.Create(regName, Role.Create(roleName), regPass);

        return Webuser.Register(user);
    }

    void UserCreation()
    {
        var userName = Request.Form["userName"];
        var dateOfBirth = Request.Form["dateOfBirth"];

        if (userName != null & dateOfBirth != null)
        {
            if (Crud.UserCreate(userName, dateOfBirth))
            {
                message = "User created";
            }
            else
            {
                message = "User NOT created";
            }
        }
    }

    void UserAwardsDelete()
    {
        var userGuid = Request.Form["userGuid"];

        if (userGuid != null)
        {
            if (Crud.UserAwardsDelete(userGuid))
            {
                message = "User with awards deleted";
            }
            else
            {
                message = "User with awards NOT deleted";
            }
        }
    }

    void AwardCreation()
    {
        var awardTitle = Request.Form["awardTitle"];

        if (awardTitle != null)
        {
            if (Crud.AwardCreate(awardTitle))
            {
                message = "Award created";
            }
            else
            {
                message = "Award NOT created";
            }
        }
    }

    void AwardUsersDelete()
    {
        var awardGuid = Request.Form["awardGuid"];

        if (awardGuid != null & awardGuid != "")
        {
            if (Crud.AwardUsersDelete(awardGuid))
            {
                message = "Award with users deleted";
            }
            else
            {
                message = "Award with users NOT deleted";
            }
        }
    }

    void JoinAwardToUser()
    {
        var userGuid = Request.Form["userGuidJoin"];
        var awardGuid = Request.Form["awardGuidJoin"];

        if (userGuid != null & awardGuid != null)
        {
            if (Crud.JoinAwardToUser(userGuid, awardGuid))
            {
                message = "Award joined to user";
            }
            else
            {
                message = "Award was NOT joined to user";
            }
        }
    }

    void EditUsers()
    {
        var guids = Request.Form.GetValues("userGuids");
        var names = Request.Form.GetValues("userNames");
        var dates = Request.Form.GetValues("userDates");

        if (guids != null & names != null & dates != null)
        {
            if (Crud.UsersEdit(guids, names, dates))
            {
                message = "Users edited";
            }
            else
            {
                message = "Users was NOT edited";
            }
        }
    }

    void EditAwards()
    {
        var guids = Request.Form.GetValues("awardGuids");
        var titles = Request.Form.GetValues("awardTitles");

        if (guids != null & titles != null)
        {
            if (Crud.AwardsEdit(guids, titles))
            {
                message = "Awards edited";
            }
            else
            {
                message = "Awards was NOT edited";
            }
        }
    }

    void SaveUserImage()
    {
        if (!Images.TryGetImage(userImages, out var userImageFile, out var userImageFileName))
        {
            return;
        }

        var userImageGuid = Request.Form["userImageGuid"];

        if (userImageGuid != null)
        {
            var userImagePath = Server.MapPath(userImageFileName);

            if (Images.ImageSaved(userImagePath, root, userImageFile, userImageGuid))
            {
                message = "User image saved";
            }
            else
            {
                message = "User image was NOT saved";
            }
        }
    }

    void SaveAwardImage()
    {
        if (!Images.TryGetImage(awardImages, out var awardImageFile, out var awardImageFileName))
        {
            return;
        }

        var awardImageGuid = Request.Form["awardImageGuid"];

        if (awardImageGuid != null)
        {
            var awardImagePath = Server.MapPath(awardImageFileName);

            if (Images.ImageSaved(awardImagePath, root, awardImageFile, awardImageGuid))
            {
                message = "Award image saved";
            }
            else
            {
                message = "Award image was NOT saved";
            }
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/script.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>UserAwards</title>
</head>
<body>
    <div id="main" class="main">
        <b>@message</b>
        <p class="currentUserName">User name: @(currentUser.Name)</p>
        <p class="currentUserRole">Role: @(currentUser.Role.Name)</p>
        @{
            if (currentUser.Role == guest)
            {
                @Html.Raw(File.ReadAllText(root + @"\Pages\Authentication.html"));
                <form method="post" action="" class="user_register" style="display: none;">
                    <p class="alertbox"></p>
                    @Html.Raw(File.ReadAllText(root + @"\Pages\RegistrationFields.html"))
                    Role:
                    @{
                        var roleList = Role.List;
                        foreach (var role in roleList)
                        {<label><input type="radio" name="roleName" value="@(role.Name)" checked />@(role.Name)</label>}
                    }
                    @Html.Raw(File.ReadAllText(root + @"\Pages\RegistrationFinish.html"))
                </form>
            }
            else
            {
                @Html.Raw(File.ReadAllText(root + @"\Pages\LogOut.html"));
            }

            if (currentUser.Role == admin)
            {
                htmlRaw = File.ReadAllText(root + @"\Pages\AllUserOperations.html");
            }

            if (currentUser.Role == guest || currentUser.Role == roleUser)
            {
                htmlRaw = File.ReadAllText(root + @"\Pages\UserPrint.html");
            }

            @Html.Raw(htmlRaw);

            htmlRaw = string.Empty;

            if (currentUser.Role == admin)
            {
                htmlRaw = File.ReadAllText(root + @"\Pages\AllAwardOperations.html");
            }

            @Html.Raw(htmlRaw);

            htmlRaw = string.Empty;

            if (currentUser.Role == admin)
            {
                htmlRaw = File.ReadAllText(root + @"\Pages\JoinOperations.html");
            }

            @Html.Raw(htmlRaw);
        }
    </div>
    <div class="operations">
        @Html.Raw(File.ReadAllText(root + @"\Pages\UserCreation.html"))
        @Html.Raw(File.ReadAllText(root + @"\Pages\AwardCreation.html"))
        @{
            if (currentUser.Role == admin)
            {
                <form method="post" action="" class="user_del" style="display: none;">
                    <h4>Choose user to delete:</h4>
                    <p>
                        <select class="user_chosen">
                            @{
                                var allUsers = DependencyResolver.UserLogic?.GetAll();
                                foreach (var user in allUsers)
                                    {<option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>}
                            }
                        </select>
                        <select class="user_chosen_guid" style="display: none;">
                            @{
                                foreach (var user in allUsers)
                                    {<option selected>@user.UserGuid.ToString()</option>}
                            }
                        </select>
                    </p>
                    @Html.Raw(File.ReadAllText(root + @"\Pages\UserDelete.html"))
                </form>
                <form method="post" action="" class="award_del" style="display: none;">
                    <h4>Choose award to delete:</h4>
                    <p>
                        <select class="award_chosen">
                            @{
                                var allAwards = DependencyResolver.AwardLogic?.GetAll();
                                foreach (var award in allAwards)
                                    {<option selected>@award.Title</option>}
                            }
                        </select>
                        <select class="award_chosen_guid" style="display: none;">
                            @{
                                foreach (var award in allAwards)
                                    {<option selected>@award.AwardGuid.ToString()</option>}
                            }
                        </select>
                    </p>
                    @Html.Raw(File.ReadAllText(root + @"\Pages\AwardDelete.html"))
                </form>
            }
        }
        <div class="listusers" style="display: none;">
            <input type="button" class="cancel" value="Back" style="display: block;" />
            @{
                var users = DependencyResolver.UserLogic?.GetAll();
                IEnumerable<Entities.Award> awardsByUser;
                foreach (var user in users)
                {
                    <img class="user_img" src="@Images.GetImgSrc(root, user.UserGuid.ToString())">
                    <p>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</p>
                    awardsByUser = DependencyResolver.UserAwardLogic?.GetAwardsByUser(user);
                    if (currentUser.Role != guest)
                    {
                        foreach (var awardByUser in awardsByUser)
                        {
                            <div style="padding-left: 75px;">
                                <img class="award_img" src="@Images.GetImgSrc(root, awardByUser.AwardGuid.ToString())">
                                <p>@(awardByUser.Title)</p>
                            </div>
                        }
                    }
                }
            }
            <input type="button" class="cancel" value="Back" />
        </div>
        @{
            if (currentUser.Role == admin)
            {
                <div class="listawards" style="display: none;">
                    <input type="button" class="cancel" value="Back" style="display: block;" />
                    @{
                        var allAwards = DependencyResolver.AwardLogic?.GetAll();
                        foreach (var award in allAwards)
                        {
                            <img class="award_img" src="@Images.GetImgSrc(root, award.AwardGuid.ToString())">
                            <p>@award.Title</p>
                        }
                    }
                    <input type="button" class="cancel" value="Back" />
                </div>
                <form method="post" action="" class="join" style="display: none;">
                    <h3>Join</h3>
                    <div>
                        <h4>Choose user:</h4>
                        <p>
                            <select class="user_chosen_join">
                                @{
                                    users = DependencyResolver.UserLogic?.GetAll();
                                    foreach (var user in users)
                                        {<option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>}
                                }
                            </select>
                            <select class="user_chosen_join_guid" style="display: none;">
                                @{
                                    foreach (var user in users)
                                        {<option selected>@user.UserGuid.ToString()</option>}
                                }
                            </select>
                        </p>
                        <input type="text" class="user_guid_join" style="display: none;" name="userGuidJoin" />
                    </div>
                    <div>
                        <h4>Choose award:</h4>
                        <p>
                            <select class="award_chosen_join">
                                @{
                                    allAwards = DependencyResolver.AwardLogic?.GetAll();
                                    foreach (var award in allAwards)
                                        {<option selected>@award.Title</option>}
                                }
                            </select>
                            <select class="award_chosen_join_guid" style="display: none;">
                                @{
                                    foreach (var award in allAwards)
                                        {<option selected>@award.AwardGuid.ToString()</option>}
                                }
                            </select>
                        </p>
                        <input type="text" class="award_guid_join" style="display: none;" name="awardGuidJoin" />
                    </div>
                    @Html.Raw(File.ReadAllText(root + @"\Pages\JoinUserAward.html"))
                </form>
                <form method="post" action="" class="user_edition" style="display: none;">
                    @{
                        users = DependencyResolver.UserLogic?.GetAll();
                        foreach (var user in users)
                        {
                            <div>
                                <input type="text" name="userNames" value=@user.Name />
                                <input type="date" name="userDates" value=@user.DateOfBirth.ToString("yyyy-MM-dd") />
                                <input type="text" name="userGuids" value=@user.UserGuid.ToString() style="display: none" />
                            </div>
                        }
                    }
                    @Html.Raw(File.ReadAllText(root + @"\Pages\EditUser.html"))
                </form>
                <form method="post" action="" class="award_edition" style="display: none;">
                    @{
                        var awards = DependencyResolver.AwardLogic?.GetAll();

                        foreach (var award in awards)
                        {
                            <div>
                                <input type="text" name="awardTitles" value=@award.Title>
                                <input type="text" name="awardGuids" style="display: none" value=@award.AwardGuid.ToString()>
                            </div>
                        }
                    }
                    @Html.Raw(File.ReadAllText(root + @"\Pages\EditAward.html"))
                </form>
                <form enctype="multipart/form-data" method="post" action="" class="user_image_upload" style="display: none;">
                    <h3>Upload image to user</h3>
                    <div>
                        <h4>Choose user:</h4>
                        <p>
                            <select class="user_chosen_image">
                                @{
                                    users = DependencyResolver.UserLogic?.GetAll();
                                    foreach (var user in users)
                                        {<option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>}
                                }
                            </select>
                            <select class="user_chosen_image_guid" style="display: none;">
                                @{
                                    foreach (var user in users)
                                        {<option selected>@user.UserGuid.ToString()</option>}
                                }
                            </select>
                        </p>
                        <input type="text" class="user_image_guid" style="display: none;" name="userImageGuid" />
                    </div>
                    @Html.Raw(File.ReadAllText(root + @"\Pages\ChooseUserImage.html"))
                </form>
                <form enctype="multipart/form-data" method="post" action="" class="award_image_upload" style="display: none;">
                    <h3>Upload image to award</h3>
                    <div>
                        <h4>Choose award:</h4>
                        <p>
                            <select class="award_chosen_image">
                                @{
                                    awards = DependencyResolver.AwardLogic?.GetAll();
                                    foreach (var award in awards)
                                        {<option selected>@(award.Title)</option>}
                                }
                            </select>
                            <select class="award_chosen_image_guid" style="display: none;">
                                @{
                                    foreach (var award in awards)
                                        {<option selected>@award.AwardGuid.ToString()</option>}
                                }
                            </select>
                        </p>
                        <input type="text" class="award_image_guid" style="display: none;" name="awardImageGuid" />
                    </div>
                    @Html.Raw(File.ReadAllText(root + @"\Pages\ChooseAwardImage.html"))
                </form>
            }
        }
    </div>
</body>
</html>