@{
    var message = string.Empty;
    var userImages = HttpContext.Current.Request.Files;
    var awardImages = HttpContext.Current.Request.Files;

    if (IsPost)
    {
        UserCreation();
        UserAwardsDeleted();
        AwardCreation();
        AwardUsersDeleted();
        JoinAwardToUser();
        EditUsers();
        EditAwards();
        SaveUserImage();
        SaveAwardImage();

        //POST-reload page fix
        @Html.Raw("<script>document.location='https://localhost:44337/index.cshtml'</script>");
    }

    void UserCreation()
    {
        var userName = Request.Form["userName"];
        var dateOfBirth = Request.Form["dateOfBirth"];

        if (userName != null & dateOfBirth != null)
        {
            if (Crud.UserCreated(userName, dateOfBirth))
            {
                message = "User created";
            }
            else
            {
                message = "User NOT created";
            }
        }
    }

    void UserAwardsDeleted()
    {
        var userGuid = Request.Form["userGuid"];

        if (userGuid != null)
        {
            if (Crud.UserAwardsDeleted(userGuid))
            {
                message = "User with awards deleted";
            }
            else
            {
                message = "User with awards NOT deleted";
            }
        }
    }

    void AwardCreation()
    {
        var awardTitle = Request.Form["awardTitle"];

        if (awardTitle != null)
        {
            if (Crud.AwardCreated(awardTitle))
            {
                message = "Award created";
            }
            else
            {
                message = "Award NOT created";
            }
        }
    }

    void AwardUsersDeleted()
    {
        var awardGuid = Request.Form["awardGuid"];

        if (awardGuid != null & awardGuid != "")
        {
            if (Crud.AwardUsersDeleted(awardGuid))
            {
                message = "Award with users deleted";
            }
            else
            {
                message = "Award with users NOT deleted";
            }
        }
    }

    void JoinAwardToUser()
    {
        var userGuid = Request.Form["userGuidJoin"];
        var awardGuid = Request.Form["awardGuidJoin"];

        if (userGuid != null & awardGuid != null)
        {
            if (Crud.JoinedAwardToUser(userGuid, awardGuid))
            {
                message = "Award joined to user";
            }
            else
            {
                message = "Award was NOT joined to user";
            }
        }
    }

    void EditUsers()
    {
        var guids = Request.Form.GetValues("userGuids");
        var names = Request.Form.GetValues("userNames");
        var dates = Request.Form.GetValues("userDates");

        if (guids != null & names != null & dates != null)
        {
            if (Crud.UsersEdited(guids, names, dates))
            {
                message = "Users edited";
            }
            else
            {
                message = "Users was NOT edited";
            }
        }
    }

    void EditAwards()
    {
        var guids = Request.Form.GetValues("awardGuids");
        var titles = Request.Form.GetValues("awardTitles");

        if (guids != null & titles != null)
        {
            if (Crud.AwardsEdited(guids, titles))
            {
                message = "Awards edited";
            }
            else
            {
                message = "Awards was NOT edited";
            }
        }
    }

    void SaveUserImage()
    {
        if (!Images.ImageExists(userImages, out var userImageFile, out var userImageFileName))
        {
            return;
        }

        var userImageGuid = Request.Form["userImageGuid"];

        if (userImageGuid != null)
        {
            var userImagePath = Server.MapPath(userImageFileName);
            var root = Server.MapPath("~");

            if (Images.ImageSaved(userImagePath, root, userImageFile, userImageGuid))
            {
                message = "User image saved";
            }
            else
            {
                message = "User image was NOT saved";
            }
        }
    }

    void SaveAwardImage()
    {
        if (!Images.ImageExists(awardImages, out var awardImageFile, out var awardImageFileName))
        {
            return;
        }

        var awardImageGuid = Request.Form["awardImageGuid"];

        if (awardImageGuid != null)
        {
            var awardImagePath = Server.MapPath(awardImageFileName);
            var root = Server.MapPath("~");

            if (Images.ImageSaved(awardImagePath, root, awardImageFile, awardImageGuid))
            {
                message = "Award image saved";
            }
            else
            {
                message = "Award image was NOT saved";
            }
        }
    }
}

@using Common;
@using WEB_UI;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>UserAwards</title>
</head>
<body>
    <b>@message</b>
    <div id="main" class="main">
        <div class="block">
            <div class="caption">
                Users operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="user_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="user_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="user_print" value="print" />
                </div>
                <div class="button">
                    <input type="button" class="user_edit" value="edit" />
                </div>
                <div class="button">
                    <input type="button" class="user_upload_image" value="upload image" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Awards operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="award_create" value="create" />
                </div>
                <div class="button">
                    <input type="button" class="award_delete" value="delete" />
                </div>
                <div class="button">
                    <input type="button" class="award_print" value="print" />
                </div>
                <div class="button">
                    <input type="button" class="award_edit" value="edit" />
                </div>
                <div class="button">
                    <input type="button" class="award_upload_image" value="upload image" />
                </div>
            </div>
        </div>
        <div class="block">
            <div class="caption">
                Join operations
            </div>
            <div class="options">
                <div class="button">
                    <input type="button" class="join_button" value="join award to user" />
                </div>
            </div>
        </div>
    </div>
    <div class="operations">
        <form method="post" action="" class="user_creation" style="display: none">
            <h4>User creation</h4>
            <p class="alertbox"></p>
            <p>Name: <input type="text" id="userName" class="name" name="userName"></p>
            <p>Date of birth: <input type="date" id="dateOfBirth" class="dateOfBirth" name="dateOfBirth"></p>
            <input type="submit" class="user_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="award_creation" style="display: none">
            <h4>Award creation</h4>
            <p class="alertbox"></p>
            <p>Title: <input type="text" id="awardTitle" class="title" name="awardTitle"></p>
            <input type="submit" class="award_create" value="Create" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="user_del" style="display: none;">
            <h4>Choose user to delete:</h4>
            <p>
                <select class="user_chosen">
                    @{
                        var users = DependencyResolver.UserLogic?.GetAll();

                        foreach (var user in users)
                        {
                            <option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>
                        }
                    }
                </select>
                <select class="user_chosen_guid" style="display: none;">
                    @{
                        foreach (var user in users)
                        {
                            <option selected>@user.UserGuid.ToString()</option>
                        }
                    }
                </select>
            </p>
            <input type="text" class="user_guid" style="display: none;" name="userGuid">
            <input type="submit" class="user_delete" value="Delete" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <form method="post" action="" class="award_del" style="display: none;">
            <h4>Choose award to delete:</h4>
            <p>
                <select class="award_chosen">
                    @{
                        var awards = DependencyResolver.AwardLogic?.GetAll();

                        foreach (var award in awards)
                        {
                            <option selected>@award.Title</option>
                        }
                    }
                </select>
                <select class="award_chosen_guid" style="display: none;">
                    @{
                        foreach (var award in awards)
                        {
                            <option selected>@award.AwardGuid.ToString()</option>
                        }
                    }
                </select>
            </p>
            <input type="text" class="award_guid" style="display: none;" name="awardGuid">
            <input type="submit" class="award_delete" value="Delete" />
            <input type="button" class="cancel" value="Cancel" />
        </form>
        <div class="listusers" style="display: none;">
            @{
                users = DependencyResolver.UserLogic?.GetAll();
                IEnumerable<Entities.Award> awardsByUser;

                foreach (var user in users)
                {
                    <img class="user_img" src="@Images.GetImgSrc(Server.MapPath("~"), user.UserGuid.ToString())">
                    <p>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</p>

                    awardsByUser = DependencyResolver.UserAwardLogic?.GetAwardsByUser(user);

                    foreach (var awardByUser in awardsByUser)
                    {
                        <div style="padding-left: 75px;">
                            <img class="award_img" src="@Images.GetImgSrc(Server.MapPath("~"), awardByUser.AwardGuid.ToString())">
                            <p>@(awardByUser.Title)</p>
                        </div>
                    }
                }
            }
            <input type="button" class="cancel" value="Back" />
        </div>
        <div class="listawards" style="display: none;">
            @{
                awards = DependencyResolver.AwardLogic?.GetAll();

                foreach (var award in awards)
                {
                    <img class="award_img" src="@Images.GetImgSrc(Server.MapPath("~"), award.AwardGuid.ToString())">
                    <p>@award.Title</p>
                }
            }
            <input type="button" class="cancel" value="Back" />
        </div>
        <form method="post" action="" class="join" style="display: none; padding-left: 25px;">
            <h3>Join</h3>
            <div>
                <h4>Choose user:</h4>
                <p>
                    <select class="user_chosen_join">
                        @{
                            users = DependencyResolver.UserLogic?.GetAll();

                            foreach (var user in users)
                            {
                                <option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>
                            }
                        }
                    </select>
                    <select class="user_chosen_join_guid" style="display: none;">
                        @{
                            foreach (var user in users)
                            {
                                <option selected>@user.UserGuid.ToString()</option>
                            }
                        }
                    </select>
                </p>
                <input type="text" class="user_guid_join" style="display: none;" name="userGuidJoin">
            </div>
            <div>
                <h4>Choose award:</h4>
                <p>
                    <select class="award_chosen_join">
                        @{
                            awards = DependencyResolver.AwardLogic?.GetAll();

                            foreach (var award in awards)
                            {
                                <option selected>@award.Title</option>
                            }
                        }
                    </select>
                    <select class="award_chosen_join_guid" style="display: none;">
                        @{
                            foreach (var award in awards)
                            {
                                <option selected>@award.AwardGuid.ToString()</option>
                            }
                        }
                    </select>
                </p>
                <input type="text" class="award_guid_join" style="display: none;" name="awardGuidJoin">
            </div>
            <div>
                <input type="submit" class="join_user_award" value="Join" />
                <input type="button" class="cancel" value="Cancel" />
            </div>
        </form>
        <form method="post" action="" class="user_edition" style="display: none;">
            @{
                users = DependencyResolver.UserLogic?.GetAll();

                foreach (var user in users)
                {
                    <div>
                        <input type="text" name="userNames" value=@user.Name />
                        <input type="date" name="userDates" value=@user.DateOfBirth.ToString("yyyy-MM-dd") />
                        <input type="text" name="userGuids" value=@user.UserGuid.ToString() style="display: none" />
                    </div>
                }
            }
            <p>
                <input type="submit" class="edit_user" value="Ok" />
                <input type="button" class="cancel" value="Cancel" />
            </p>
        </form>
        <form method="post" action="" class="award_edition" style="display: none;">
            @{
                awards = DependencyResolver.AwardLogic?.GetAll();

                foreach (var award in awards)
                {
                    <div>
                        <input type="text" name="awardTitles" value=@award.Title />
                        <input type="text" name="awardGuids" value=@award.AwardGuid.ToString() style="display: none" />
                    </div>
                }
            }
            <p>
                <input type="submit" class="edit_award" value="Ok" />
                <input type="button" class="cancel" value="Cancel" />
            </p>
        </form>
        <form enctype="multipart/form-data" method="post" action="" class="user_image_upload" style="display: none; padding-left: 25px;">
            <h3>Upload image to user</h3>
            <div>
                <h4>Choose user:</h4>
                <p>
                    <select class="user_chosen_image">
                        @{
                            users = DependencyResolver.UserLogic?.GetAll();

                            foreach (var user in users)
                            {
                                <option selected>@(user.Name + " " + user.DateOfBirth.ToString(Entities.User.DateFormat))</option>
                            }
                        }
                    </select>
                    <select class="user_chosen_image_guid" style="display: none;">
                        @{
                            foreach (var user in users)
                            {
                                <option selected>@user.UserGuid.ToString()</option>
                            }
                        }
                    </select>
                </p>
                <input type="text" class="user_image_guid" style="display: none;" name="userImageGuid">
            </div>
            <h4>Choose image:</h4>
            <p class="alertbox"></p>
            <p>
                <input type="file" class="userImage" name="userImage" accept="image/*" value=@userImages>
            </p>
            <div style="padding-top: 20px;">
                <input type="submit" class="upload_user_image" value="Ok" />
                <input type="button" class="cancel" value="Cancel" />
            </div>
        </form>
        <form enctype="multipart/form-data" method="post" action="" class="award_image_upload" style="display: none; padding-left: 25px;">
            <h3>Upload image to award</h3>
            <div>
                <h4>Choose award:</h4>
                <p>
                    <select class="award_chosen_image">
                        @{
                            awards = DependencyResolver.AwardLogic?.GetAll();

                            foreach (var award in awards)
                            {
                                <option selected>@(award.Title)</option>
                            }
                        }
                    </select>
                    <select class="award_chosen_image_guid" style="display: none;">
                        @{
                            foreach (var award in awards)
                            {
                                <option selected>@award.AwardGuid.ToString()</option>
                            }
                        }
                    </select>
                </p>
                <input type="text" class="award_image_guid" style="display: none;" name="awardImageGuid">
            </div>
            <h4>Choose image:</h4>
            <p class="alertbox"></p>
            <p>
                <input type="file" class="awardImage" name="awardImage" accept="image/*" value=@awardImages>
            </p>
            <div style="padding-top: 20px;">
                <input type="submit" class="upload_award_image" value="Ok" />
                <input type="button" class="cancel" value="Cancel" />
            </div>
        </form>
    </div>
</body>
</html>