@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = "~/Pages/_Layout.cshtml";

    var orderList = Enumerable.Empty<Order>();

    if (IsPost)
    {
        Index.Forms = Request.Form;
        orderList = Index.GetOrderList();
    }

    if (orderList.Count() > 0)
    {
        foreach (var order in orderList)
        {
            <div>@order.Id @order.Date.ToString("dd.MM.yyyy") @order.Adress @order.Sum @order.CurrentStatus</div>
        }
    }
}