@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = "~/Pages/_Layout.cshtml";

    Index.Message = string.Empty;

    var orderList = Enumerable.Empty<Entities.Order>();

    if (IsPost)
    {
        WebPL.Models.Order.Forms = Request.Form;
        orderList = WebPL.Models.Order.GetOrders();
    }

    if (orderList.Count() == 0)
    {
        <h2 class="product_caption">Заказов не найдено</h2>
        <a href="~/Index.cshtml">
            <input type="button" value="На главную" style="margin-top: 25px;" />
        </a>
    }

    if (orderList.Count() > 0)
    {
        <b id="messagebox">@Index.Message</b>
        <h2 class="product_caption">Заказы</h2>
        <form method="post" action="~/Index.cshtml" class="customer_orders">
            <div class="table">

                @foreach (var order in orderList)
                {
                    <div class="tableRow">
                        <div class="tableCellCaption">ID</div>
                        <div class="tableCellCaption">Дата</div>
                        <div class="tableCellCaption">Адрес</div>
                        <div class="tableCellCaption">Сумма</div>
                        <div class="tableCellCaption">Статус</div>
                        <div class="tableCellCaption">Опция</div>
                    </div>
                    <div class="tableRow">
                        <input type="text" class="tableCellOrderId" value="@order.Id" style="display: none;" />
                        <div class="tableCell">@order.Id</div>
                        <div class="tableCell">@order.Date.ToString("dd.MM.yyyy")</div>
                        <div class="tableCell">@order.Adress</div>
                        <div class="tableCell">@order.Sum</div>
                        <div class="tableCell">@order.CurrentStatus</div>
                        <div class="tableCell">
                            @if (order.CurrentStatus == Entities.Order.Status.Opened)
                            {
                                <input type="submit" class="cancelOrder" name="cancelOrder" value="Отменить" />
                            }
                            @if (order.CurrentStatus == Entities.Order.Status.Canceled)
                            {
                                <input type="submit" class="restoreOrder" name="restoreOrder" value="Восстановить" />
                            }
                        </div>
                    </div>

                    var productIds = Dependencies.OrderProductLogic.GetProductIds(order.Id);

                    <div class="subTable">
                        <div class="tableRow">
                            <div class="tableCellCaption">Товар</div>
                            <div class="tableCellCaption">Цена</div>
                        </div>

                        @foreach (var id in productIds)
                        {
                            var product = Dependencies.ProductLogic.GetById(id);

                            <div class="tableRow">
                                <div class="tableCell">@product.Name</div>
                                <div class="tableCell">@product.Price</div>
                            </div>
                        }
                    </div>
                }
                <a href="~/Index.cshtml">
                    <input type="button" value="На главную" />
                </a>
                <input type="text" class="orderCancelId" name="orderCancelId" style="display: none;" />
                <input type="text" class="orderRestoreId" name="orderRestoreId" style="display: none;" />
            </div>
        </form>
    }
}
