@using WebPL.Models;
@using Entities;
@using Common;

@{
    Layout = null;

    <h2 class="product_caption">Товары</h2>
    <div class="products">
        @{
            var roleLogic = Dependencies.RoleLogic;
            var products = Dependencies.ProductLogic.GetAll();
            var currentUser = Index.CurrentUser;
            var roleId = 0;

            if (currentUser.IdRole == 0)
            {
                roleId = roleLogic.GetIdByName(Index.CurrentUser.Name);
            }
            else
            {
                roleId = currentUser.IdRole;
            }

            var currentRole = roleLogic.GetById(roleId);

            if (currentRole.OrderWrite)
            {
                var customer = Dependencies.CustomerLogic.GetByIdUser(currentUser.Id);

                <div class="product_block">
                    @foreach (var product in products)
                    {
                        <form method="post" action="~/Index.cshtml" class="product_order">
                            <div class="product">
                                <p class="alertbox"></p>
                                <input type="text" class="product_id" name="productId" value="@product.Id" style="display: none;" />
                                <div class="product_name">@product.Name</div>
                                <div class="product_price">@product.Price руб.</div>
                                <div class="product_quantity">
                                    <input type="text" class="product_quantity_value" name="productQuantity" placeholder="Количество" />
                                </div>
                                <div class="order_adress">
                                    <input type="text" class="order_adress_value" name="orderAdress" placeholder="Адрес доставки" />
                                </div>
                                <input type="submit" class="submit_order" value="Заказать" />
                                <input type="text" class="chosenProductId" name="chosenProductId" style="display: none;" />
                                <input type="text" class="chosenProductQuantity" name="chosenProductQuantity" style="display: none;" />
                                <input type="text" class="customerId" name="customerId" value="@customer.Id" style="display: none;" />
                            </div>
                        </form>
                    }
                </div>
            }
            else
            {
                <div class="product_block_delete">
                    @foreach (var product in products)
                    {
                        <form method="post" action="~/Index.cshtml">
                            <div class="product">
                                <input type="text" class="product_id_delete" name="productIdDelete" value="@product.Id" style="display: none;" />
                                <div class="product_name">@product.Name</div>
                                <div class="product_price">@product.Price руб.</div>
                            </div>
                            @if (currentRole.ProductWrite)
                            {
                                <input type="submit" class="deleteProduct" value="Удалить" />
                                <input type="text" class="chosenProductIdDelete" name="chosenProductIdDelete" style="display: none;" />
                            }
                        </form>
                    }
                </div>
            }
        }
    </div>

    if (currentRole.ProductWrite)
    {
        <form method="post" action="~/Index.cshtml" class="product_add">
            <h4>Добавить товар</h4>
            <p class="alertbox"></p>
            <input type="text" class="product_new_name" name="newProductName" placeholder="Наименование" />
            <input type="text" class="product_new_price" name="newProductPrice" placeholder="Цена" />
            <input type="submit" class="submit_product_add" value="Ок" />
        </form>
    }
}